
.right-space{
    margin-right: 1em;
}

.remove-float{
    float: none;
}

.top-space{
    margin-top: 1.5em;
}

.big-top-space{
    margin-top: 200px;
}


/*login*/
.login{
    margin-right:auto;
    margin-left: auto;
}

/*registro*/
.registro{
    margin-right:auto;
    margin-left: auto;
}

/*NAV**/
.large-padding{
    padding: 10px 15px;
}

.black{
    background-color: black;
}

.white-text{
    color: white;
}

nav {
    text-align: right;
}
nav li{
    display: inline-block;
    margin-right: 1em;
    font-size: 1.1em;
}

nav li a{
    color: white;
}

nav li a:hover{
    color: greenyellow;
}

.white{
    background-color: white;
}

.border{
    border: solid 1px #eee;
}

.tr:nth-last-of-type(odd){
    background-color: #eee;
}