extends ../../layout.jade
//identificador
block contenido
    h1 #{imagen.title}
    img(src="/estatico/imagenes/#{imagen._id}.#{imagen.extension}")
    if(typeof imagen.creator != "undefined")
        p Por #{imagen.creator.email}