extends ../layout.jade
//identificador
block contenido
    div(class="col-md-12 remove-float center-block text-center big-top-space")
        h1 Bienvenido a Fotografía Feed
        a(href="/login" class="margin-space") Iniciar Sesión
        a(href="/signup" class="margin-space") Registrarse
